@tailwind base;

body {
  font-size: 1.15rem;
  font-family: 'Courier', monospace;
}

h1 {
  @apply font-bold;
}

h2 {
  @apply font-bold text-center;
}

#submitMsg {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

#submitMsg.success {
  color: green;
}
#submitMsg.error {
  color: red;
}

@tailwind components;

@tailwind utilities;
